<nav class="navbar navbar-dark bg-light">
    <div class="container">
        <span class="navbar h1"><strong>Tech Blog</strong></span>
    </div>
</nav>
<div class="my-6 d-grid gap-3">
    {{#each posts as |post| }}
    <div data-post-id={{post.id}} id="homepage_post_id"class="card shadow mx-auto" style="width: 70%;">
        <div class="card-header jusify-content-between">
            <h6 href="/post/{{post.id}}" class="h4"><strong>{{post.name}}</strong></h6>
            <div>Post Created by {{post.user.name}} on {{format_date post.date_created}}</div>
        </div>
    <div class="card-body">
        <p class="card-text">{{post.description}}</p>
    </div>
    <div class="mx-auto">
        <a href="/comment/{{post.id}}">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i>Comment on Post</button>
        </a>
    </div>
    </div >
    <div id="comments-{{post.id}}"></div>
    {{/each}}
</div>
<script src="/comment.js"></script>

